body{
    background-color:#1F1D20;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 margin: 0;
    padding: 0;
}
:root{
    --nav-height: 60px;
}
*{
      box-sizing: border-box;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#803E2F;
    height: var(--nav-height);
    padding: 0 20px;
    position: relative;
}
.nav i{
    font-size: 1.4rem;
    padding: 0 10px;
    display: none;
}
.nav i:hover{
    background: #1F1D20;
}
.nav .links a{
    text-decoration: none;
    padding: 3px;
    /*margin-right: 105px;*/
}
.nav .links a:hover{
    color: #fff;
    background:  #803E2F;
}
.container{
    max-width: 555px;
    height: 397px;
    background-color:#803E2F;
    display:block;
    margin:0 auto;
border-radius:10px;
margin-top:60px;
padding:20px;
}
table{
    width:100%;
    background: #803E2F;

}
.contain{
    display:flex;
    flex-wrap:wrap;
}
th{
    color:#000;
      border: 1px solid black;
  border-collapse: collapse;
   text-align:left;
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
  color:#fff;
  text-align:left;
  padding:10px;
   border-collapse: collapse;
            border-spacing: 0;
}
/* pop window*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 /* background-color: rgba(0, 0, 0, 0.5);*/
}

.popup-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #2e0202;
  width: 80%;
  max-width: 400px;
  position: relative;
}
.comfirm{
    color:black;
    font-size:20px;
}

.close {
  color: #5a0a0a;
  font-size: 28px;
  font-weight: bold;
}
.close1 {
  color: #aaa;
  float:right;
  font-size: 28px;
  font-weight: bold;
}
.delete button{
    padding:10px 15px;
}

.close button{
    padding:10px 15px; 
    margin-left:30px;

}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.lform{
    margin-left:50px;
}

.login_email{
    width:243px;
    height:41px;
    margin-top:20px;
    border-radius:10px;
    margin-left:60px;
         border:1px solid #fff;
}
.login{
    width:243px;
    height:41px;
    margin-top:20px;
    border-radius:10px;
       margin-left:100px; 
       border:1px solid #fff;
}

label{
    color:#fff;
}
.password{
    width:243px;
    height:41px;
    margin-top:20px;
    border-radius:10px;
    margin-left:30px;
         border:1px solid #fff;
    
}
.introduction{
    margin-left:20px;
}
.nav{
    display:flex;
   justify-content: space-between;
}
.nav a{
    text-decoration:none;
    font-size:24px;
    color:#fff;
}
/*------Dashboard---*/
.navbar{

  background: #803E2F;
    position:fixed;
    right:0;
    /*flex:0 0 250px;*/
    width:250px;
    margin-left:20px;
    border-radius:5px;
   
}
.navbar a{
    font-size:24px;
    margin-left:20px;
}
.navbar i{
    margin-right:10px;
    margin-bottom:20px;
}
.notifications{
   /* margin-left:250px;*/
    padding:20px;
     box-sizing: border-box;
     flex-grow: 1;
}
.photo{
    margin-left:70px;
    margin-top:30px;
}
.bform button{
padding:10px 20px;
margin-left:350px;
}
.line{
border:1px solid #803E2F;
height:600px;
   margin-left:100px;
   
   
}
.blogs-section{
    margin-left:30px;
}
.adminTitle{
    text-align: center;
  color:#fff;
  margin-top:30px;
  font-size:20px;
    
}
/*.admin a{
    text-decoration:none;
    color:#000;
}
.admin{
  display:flex;  
  justify-content: center;
}*/
.Btitle{
    border:1px solid #fff;
    width:368px;
    height:43px;
   margin-left:80px;
    border-radius:10px;
    padding:10px;
}
.bform{
    margin-left:30px;
}
.Bdescription{
    border:1px solid #fff;
    width:368px;
    height:60px;
    border-radius:10px;
    margin-left:28px;
    margin-top:20px;
    padding:10px;
}
.btn1:hover{
color:#000;
}
.btn2:hover{
color:#000;
}
.navbar a{
    color:#fff;
    justify-items: space-between;
    

}
h1{
   /* font-weight: 2px;
    font-size:30px;*/
    text-align:center;
    color:#fff;
}
.log{
 background: #1F1D20;
  width:50px;
   height:50px; 
   margin-bottom:20px;
  border-radius: 50%;
  margin-left:10px;
}
.btn3:hover{
color:#000;
}
.btn4:hover{
color:#000;
}
.btn1{
padding-top:20px;
transition:30ms ease-in-out;
color:#fff;
}
.btn2{
transition:30ms ease-in-out;
padding-top:20px;
color:#fff;
}
.btn3{
transition:30ms ease-in-out;
 padding-top:20px;
 color:#fff;
}
.btn4{
transition:30ms ease-in-out;
padding-top:20px;
color:#fff;
}
.msg{
    background:#803E2F;
    margin-left:30px;
width:746px;
height:120px;
border-radius:5px;
}
.mesg{
    margin-top:0px;
     margin-left:20px;
    display:flex;
    justify-content:space-between;
}
.mesg p{
color:#000;
font-size:20px;
}
.mesg p .fa{
    margin-right:20px;
    color:#000;
    font-size:20px;
}
.icon{
    margin-top:0;
    margin-left:20px;
     color:#000;
     font-size:20px;
}
p .icon{
  margin-right:10px;   
}
.numbers{
    color:#fff;
    font-size:20px;
}
/*.notifications{
    margin-top:20px;
    padding:30px;
}*/
.blg{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
}
.blg p{
    margin-left:20px;
    margin-right:20px;
    color:#000;
    font-size:20px;
}
.blog-icons{
    display:flex;
    /*justify-content: space-evenly;*/
}
.blog-icons p{
    margin-right:150px;
    font-size:20px;
}
.blogs-written{
    padding:10px;
    width:800px;
    height:30px;
    margin-top:40px;
    margin-left:6px;
}
.btitles{
    display:flex;
    justify-content: space-between;
}
.form{
    width:100%;
}
.blog-section{
    background:#803E2F;
    margin-left:30px;
    width:746px;
height:120px;
border-radius:5px;
}

.github3{
    text-decoration: none;
    border-radius:10px;
    padding:8px 20px;
    color:#000;
    background-color:#fff;
    margin-top:20px;
    border:1px solid #fff;
    margin-left:40px;
}

.github{
    text-decoration: none;
    border-radius:10px;
    padding:8px 20px;
    color:#000;
    background-color:#fff;
    margin-top:20px;
    border:1px solid #fff;
    margin-left:40px;
}
.projects{
    margin-left:40px;
    margin-top:20px;
}
.names{
    font-size:16px;
}
.title{
    text-align:center;
    color:#fff;
    font-size:24px;
    margin-top:20px;
      margin-bottom:20px;
}

.title2{
    color:#fff;
    font-size:24px;
    margin-bottom:10px;
    margin-left:20px;
}
.subt{
    color:#000;
    font-size:20px;
}
.subtitles{
    color:#000;
    font-size:20px;
    margin-left:40px;
}
ul{
    list-style-type:none;
}
.subtitle{
    color:#fff;
    font-size:20px;

}
p{
    color:#fff;
    font-size:13px;
}
img{
    width:284px;
    height:195px;
}
.highlight{
    color:#803E2F;
}
.landing{
    display:flex;
    justify-content: space-between;
    margin-top:60px;
}
.active{
    color:#803E2F;
    margin-left:20px;
}
h4{
    color:black;
}
.profile{
    background-color:#803E2F;
    padding:20px;
    padding-right: 80px;
     margin-left:20px;
    margin-right:20px;
    border-bottom-left-radius: 10px;
     border-top-left-radius: 10px;
}
.about-section{
    display:flex;
    justify-content:space-between;
}
footer{
    background-color: #803E2F;;
}
.about{
/*margin-left:125px;*/
 margin-right:20px;
}
.skills{
    display:flex;
    justify-content:space-between;
}
h3{
    text-align:center;
    color:white;
}
.card1{
background-color:#803E2F;
width:313px;
height:255px;
margin-right:20px;
padding:20px;
color:white;
margin-left:20px;
border-radius:10px;
}
.card2{
background-color:#803E2F;
width:313px;
height:255px;
padding:20px;
margin-right:20px;
color:white;
border-radius:10px;
margin-left:20px;
}
.card3{
background-color:#803E2F;
width:313px;
height:255px;
margin-right:20px;
padding:20px;
margin-left:20px;
color:white;
border-radius:10px;
}
.card4{
background-color:#803E2F;
margin-right:20px;
width:313px;
height:255px;
padding:20px;
margin-left:20px;
border-radius:10px;
color:white;
}
.card5{
background-color:#803E2F;
padding:20px;
width:313px;
height:255px;
margin-right:20px;
margin-left:20px;
color:white;
border-radius:10px;
}
.card6{
background-color:#803E2F;
width:313px;
height:255px;
padding:20px;
margin-right:20px;
margin-left:20px;
color:white;
border-radius:10px;
}
.work{
    display:flex;
    justify-content: space-between;
}
.blog1{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
    margin-right:20px;
    margin-left:20px;
    
}
.blogs{
    background-color:white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding:5px 10px;
}
.images{
 border-top-right-radius: 10px;   
border-bottom-right-radius: 10px;
}
.footer{
    display:flex;
    justify-content: space-between;
}
.blog{
    color:#000;
}
 a{
    text-decoration:none;
}
.card1,.card2, .card3, li{
    font-size:13px;
}
hr{
    height:4px;
    background-color: #803E2F;
    border:1px solid #803E2F;
    margin-top:40px;
}
.social{
    margin-right:20px;
}
.contact{
    display:flex;
}

.short{
    margin-left:20px;
    background-color:#803E2F;
 padding:10px 20px;
    margin-bottom:20px;
    width:448px;
    height:267px;
    text-align:center;
    font-size:24px;
}
.introduction p{
    font-size:20px;
}
.introduction .names p{
    font-size:24px;   
}

.name{
    width:463px;
    height:38px;
    border-radius:10px;
    margin-bottom:10px;
 padding:10px; 
   border:1px solid #fff;
}
.email{
   width:463px;
    height:38px;
     margin-bottom:10px;
     border-radius:10px;
      padding:10px; 
        border:1px solid #fff;
    
}
.button{
    width:463px;
    height:38px;
    border-radius:15px;
     padding:10px; 
    border:1px solid #fff;
}
.message{
      width:463px;
    height:90px;
     margin-bottom:10px;
      border-radius:10px;
      padding:10px;
      border:1px solid #fff; 
}
.form{
   margin-left:10px;
     margin-bottom:60px;

}
.link{
    display:flex;
    justify-content: space-between;
}
.social a{
    color:#000;
    text-decoration: none;
    margin-right:10px;
    margin-top:20px;
}
.link a{
text-decoration:none;
color:#000;
margin-right:30px;

}
@media screen and (max-width:768px){
    .contain{
        flex-direction:column;
    }
  .navbar{
        width:100%;
        flex:0 0 auto;
        float:top;
    }
   /* .navbar{
        display:none;
    }*/
   /*.notifications{
        width:100%;
        left:0;
        float:inline-end;
   }*/
   .notifications{
    margin-top:50%;
   }
    table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }
        
        th, td {
            padding: 8px;}
}
/*---css for phone--*/
@media only screen and (max-width: 620px){
    .nav i{
        display: block;
    }
    .links {
        position: absolute;
        display: none;
        flex-direction: column;
        top: var(--nav-height);
        background:#1F1D20;
        left: 0;
        right: 0;
        border-top: 2px solid #aaa;
    }
    .responsive{
        display: flex;
    }
    .links a{
        color: #fff;
    }
}
@media only screen and (max-width:600px){
          
    body{
    margin-left:10px;
    margin-right:10px;
}
.container{
margin-left:0;
}
.lform{
    margin-left:0;
}

.profile, .images{
    width: 100%;
    height: auto;
}

hr{
     width:100%;
}
.github, .github3{
    margin-top:60px;
}
 .profile, .about-section, .skills, .work, .contact, .short{
        flex-direction: column;
        width:100%;
        margin-left: 0;
        margin-right: 0;
    }

    .email, .name, .message, .button{
        width:95%;
         margin-left: 0;
        margin-right: 10px;
    }
.images{
    width:100%;
    margin-top:10px;
}
.profile{
    display:block;
    margin:0 auto;
}

 .card1, .card2, .card3, .card4, .card5, .card6, .blog1{
    flex-direction: column;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .landing {
        flex-direction: column;
        margin-top: 30px;
    }
      .login_email, .login, .password {
        width: 100%;
        margin-left: 0;
    }
    .footer{
        flex-direction:column;
        align-items:center;
    }
    .contacts, .links, .social{
        flex-direction:column;
        align-items:center;
        margin-bottom:20px;
    }
}
